<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Producto</title>
</head>
<body>      
    <form action="/appPost/buscarComentario/" method="get">

       <p> <input type="number" name="id"> </p>

       <p> <input type="submit" name="Buscar"></p>
    <form>

    {% if comentario  %}
        <p> Comentario encontrado: {{comentario.post}} </p>
    {% endif %}

</body>
</html>