{% extends 'appPost/base.html' %}
{% block main_content %}

<div class="container">
    <div class='row'>
        <div class="col-5">
        {% for comentario in object_list %}
                <h5 class="card-title">{{comentario.post.titulo}}</h5> 
                <div class="card-body">{{ comentario.contenido}}       
                  <hr/>                                    
                 <p class="text">{{comentario.autor}}</p> 
                  <p class="text">{{comentario.fecha_comentario}}
             </div>  
                 
    {% endfor %}
    </div>
</div>
</div>
{% endblock main_content %}










