{% extends 'appPost/base.html' %}
{% block main_content %}


<div class="container">
    <h1>Se cargo la imagen </h1>
    <img src="{{imagen_url}}" alt="Imagen" width="10%">
</div>

<div class="container">
    <div class='row'>
    {% for post in object_list %}
        <div class="col-4">
            <a href="{% url 'postDetalle' post.id %}">
                <div class="card" style="width: 18rem;">
                    <img src="{{ post.imagen }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ post.get_absolute_url }}">{{ post.titulo }}</a>
                            </h5>
                                <p class="card-text">{{ post.contenido|truncatechars:40 }}</p>
                                <hr />                               
                        </div>
                <a href="{% url 'comentarioDetalle' post.id %}">Ver Comentarios</a>
                <a href="{% url 'comentarioCrear'%}">Comentar</a>
            </a> 
        </div>
            <a class="btn btn-primary" href="{% url 'postActualizar' post.id %}">Editar</a>
            <a class="btn btn-primary" href="{% url 'postEliminar' post.id %}">Eliminar</a>
        </div>
        
    {% endfor %}
    </div>
</div>

{% endblock main_content %}










