{% extends 'appPost/base.html' %}
{% block main_content %}


<div class="container">
    <div class='row'>
        <div class="col-12">
                <div class="card" style="width: 15rem;">
                    <img src="{{ post.imagen.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.titulo }}</h5>
                            <h5 class="card-title">{{ post.subtitulo }}</h5>
                        </div>
                    </div>
                     
                                <p class="card-text">{{ post.contenido}}</p>
                                <hr /> 
                                <p>Autor: {{post.autor}}</p>
                                <p>Publicado: {{post.fecha_publicacion}}</p>
                                <p>Actualizado : {{post.ultima_actualizacion}}</p>                              
                                
                </div>
        </div>
         
    </div> 
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="{% url 'comentarioLista' %}">Comentarios</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="{% url 'comentarioDetalle' post.id %}">Ver Comentarios</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="{% url 'comentarioCrear'%}">Nuevo Comentario</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>    
<br/>     
{% endblock main_content %}
