<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Post</title>
</head>
<body>
    <h1>Detalle del Post :</h1>
        <p>Titulo: {{post.titulo}}</p>
        <p>Contenido: {{post.contenido}}</p>
        <p>Fecha Publicaion: {{post.fecha_publicacion}}</p>
        <p>Actualizado : {{post.ultima_actualizacion}}</p>
    <p>
        <a href="{%url 'postLista'%}">Volver</a>
    </p>
</body>
</html>