{% extends 'appPost/base.html' %}
{% block main_content %}

<div class="container">
    <div class='row'>
    {% for post in object_list %}
        <div class="col-4">
            <a href="{% url 'postDetalle' post.id %}">
                <div class="card" style="width: 18rem;">
                    <img src="{{Post.objetcts.imagen_url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">{{ post.titulo }}</h3>
                                <p class="card-text">{{ post.contenido|truncatechars:40 }}</p>                                       
                        </div>
            </a>                                   
        </div>
        <br/>
        {% if request.user.is_superuser %}    
            <a class="btn btn-primary" href="{% url 'postActualizar' post.id %}">Editar</a>
            <a class="btn btn-primary" href="{% url 'postEliminar' post.id %}">Eliminar</a>
            {% endif %} 
        </div>      
    {% endfor %}
    </div>
</div>

{% endblock main_content %}










