{% extends 'appPost/base.html' %}
{% block main_content %}


<div class="container">
    <div class='row'>
        <div class="col-4">
                <div class="card" style="width: 50rem;">
                    <img src="{{ posteo.imagen.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.titulo }}</h5>
                            <h5 class="card-title">{{ post.subtitulo }}</h5>
                                <p class="card-text">{{ post.contenido}}</p>
                                <hr /> 
                                <p>Autor: {{post.autor}}</p>
                                <p>Publicado: {{post.fecha_publicacion}}</p>
                                <p>Actualizado : {{post.ultima_actualizacion}}</p>                              
                        </div>
                </div>
        </div>
         
    </div>    
    <br/>
    <a href="{% url 'comentarioLista'%}">Comentarios</a>  
        <a href="{% url 'comentarioDetalle' post.id %}">Ver Comentarios</a>
        <a href="{% url 'comentarioCrear'%}">Nuevo Comentario</a>
</div>    
<br/>     
{% endblock main_content %}
