{% extends 'appPost/base.html' %}
{% block main_content %}
<body>
    <div class="container">
        <h1>Confirma Eliminar</h1>  
            <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Esta seguro que quiere eliminar el Post :   {{object.titulo}} ? 
            <button class='btn btn-primary' type='submit'>Confirmar</button>
                <p>
                    <a href="{%url 'postLista'%}">Volver</a>
                </p>
            </form>
    </div>       
</body>
{% endblock main_content %}