<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Post</title>
</head>
<body>
    <h1>Listado Post</h1>
    <ul>
        {%  for post in object_list   %}
            <li>
                <p>Titulo: {{post.titulo}}</p>
                <p>Contenido: {{post.contenido}}</p>
                <p>Imagen: {{post.imagen}}</p>
                <p>
                    <a href="{%url 'postDetalle' post.id %}">Detalle</a>
                    <a href="{%url 'postActualizar' post.id %}">Actualizar</a>
                    <a href="{%url 'postEliminar' post.id %}">Borrar</a>
                 
                </p>
            </li>
        {%  endfor  %}
    </ul>
    <p>
        <a href="{%url 'postCrear'%}">Crear Post</a>
    </p>
</body>
</html>