<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{% url 'postLista' %}">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <a class="nav-link" href="{% url 'postCrear' %}">Nuevo Post <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="#">Acerca de <span class="sr-only">(current)</span></a>
      {% if request.user.is_authenticated %}
        <a class="nav-link" href="{% url 'Inicio' %}">Home User <span class="sr-only">(current)</span></a>
      {% endif %} 
    </div>      
   <!-- href     Recibe el nombre de una vista
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="buscar" aria-label="Buscar">
      </form>
 -->
    

      
      {% if not request.user.is_authenticated %}
             <a class="navbar-brand" href="{% url 'login' %}">Iniciar sesion</a>
             <a class="navbar-brand" href="{% url 'Register' %}">Registrarse</a>  
      {% else %}      
            <p class="text-muted"> {{request.user.username}} </p>
            <img src="{{imagen_url}}" alt="Imagen" width="8%">
            <a class="nav-link" href="{% url 'edit' %}">Editar Perfil</a>
            <a class=" nav-link" href="{% url 'logout' %}">Cerrar sesion</a>

     {% if request.user.is_staff %}   
     <a class="nav-link" href="{% url 'CargarImagen' %}">Cambiar Imagen</a>
        
     {% if request.user.is_superuser %}
          <a class="nav-link" href="/admin/">Admin</a> 
     {% endif %}      
     {% endif %}  
     {% endif %}  
 
</nav>