<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{% url 'postLista' %}">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <a class="nav-link" href="{% url 'postCrear' %}">Cear Post <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="#">Comentarios <span class="sr-only">(current)</span></a>
          
  
      <form class="form-inline mt-2 mt-md-0">
        <!-- href     Recibe el nombre de una vista
        <input class="form-control mr-sm-2" type="text" placeholder="buscar" aria-label="Buscar">
        -->
        
      </form>
      
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Iniciar Sesion</button>
  </nav>