{% extends 'appUsuario/base.html' %}

{% block main_content %}

        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">                       
                            {% if request.user.is_authenticated %}
                                <h4>    
                                    <a class="nav-link" href="{% url 'mensajeEnviar' %}">Enviar Mensaje</a>
                                </h4>                          
                            {% endif %}  
                            {% if request.user.is_authenticated %}
                            <h4>    
                                <a class="nav-link" href="{% url 'mensajeLista' %}">Mensajes</a>
                            </h4>                          
                             {% endif %} 
                            {% if request.user.is_staff %}   
                            <h4>       
                                <a class="nav-link" href="{% url 'CargarImagen' %}">Cambiar Imagen</a>
                            </h4>                          
                            {% endif %}                        
                            {% if request.user.is_authenticated %}
                                <h4>    
                                    <a class="nav-link" href="{% url 'edit' %}">Editar Perfil</a>
                                </h4>                          
                            {% endif %}  
                            {% if request.user.is_superuser %}
                            <h4>    
                            <a class="nav-link" href="/admin/">Panel Admin</a> 
                            </h4>                          
                            {% endif %}  
            </div>
        </section>
        {% endblock main_content %}